---
title: Ashton And Leah
---
<div id='banner'>
  <a id='top'></a>
  <div class='centered'>
    <h1>Ashton and Leah</h1>
    <h2>11.08.2014</h2>
  </div>
</div>

<div id='rockies'>
  <div class='centered'>
    <a id='us'></a>
  </div>
</div>

<div id='us'>
  <div class='centered'>
    <div class='ashton'>
      <img src="img/ashton.jpg"/>
      <h1>Ashton</h1>
    </div>

    <div class='leah'>
      <img src="img/leah.jpg"/>
      <h1>Leah</h1>
    </div>
    <p>We met at Loyola University Chicago in September of 2009. Ashton hailing from Cincinnati, and Leah from Cleveland. Our love grew over Chicago's antique stores, burgers at Moody's Pub, and comedy shows at Chicago's famous improv theaters. Two dorm rooms, six apartments, one snowpocalypse, two cats, one thousand miles, eighty-seven Catans settled, five hundred and thirty-eight boat tours, forty-two thousand lines of code,  two cities, and five years later, it's time to tie the knot!</p>
    <img src="img/ashton_and_leah.jpg" width="960" />

    <h1 id='plus'>+</h1>
  </div>
</div>

<div id='oxford'>
  <div class='centered'>
    <a id='venue'>
  </div>
</div>

<div id='venue'>
  <div class='centered'>
    <h1>Venue: The Oxford Hotel</h1>
    <p>The historic Oxford Hotel is conveniently located in downtown Denver, Colorado, and is about twenty-five miles west of Denver International Airport. Both the ceremony and reception will be held in the hotel's Oxford Theater, which served as the hotel's carriage house at the turn of the twentieth century.</p>

    <p>The Oxford Hotel is located at:
      <blockquote>1600 17th St<br/>Denver, CO 80202. (303)-628-5400</blockquote>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3067.4421746308467!2d-104.99913615!3d39.75217955!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44ceacc99b8363e6!2sThe+Oxford+Hotel!5e0!3m2!1sen!2sus!4v1389682116433" width="960" height="400" frameborder="0" style="border:0; display: block; margin: 0 auto;"></iframe>
  </div>
</div>

<div id='hotel'>
  <div class='centered'>
    <a id='reservations'></a>
  </div>
</div>

<div id='reservations'>
  <div class='centered'>
    <h1>Transit and Accomodations</h1>
    <p>The Oxford Hotel has offered our guests a discounted rate for the weekend. When booking, mention that you'll be in town for the Barren-Kemerling wedding. The Oxford boasts beautiful and mostly original Victorian rooms, The <a href="http://www.theoxfordhotel.com/dining/the-cruise-room/">Cruise Room</a> - a bar that has been unchanged since Prohibition, a full service spa, and, of course, the convenience of location.</p>

    <p>
      The Courtyard Marriott also has a block rate for our guests. The Courtyard Denver Downtown is located on Denver's famous 16th Street Mall, and is a ten minute walk to The Oxford Hotel. Guests can also grab the free 16th Street Mall Ride from the Courtyard which will drop you two blocks from The Oxford. To book with the Marriott, follow <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Barren%20Kemerling%20Wedding%5Edencd%60BKWBKWA%7CBKWBKWB%60179%60%60false%6011/7/14%6011/9/14%6010/08/2014&app=resvlink&stop_mobi=yes">this link</a>. Or, call (303) 571-111 and say that you will be in town for the Barren-Kemerling wedding.
    </p>

    <p>
      Please keep in mind that to ensure that you receive the block rate at either hotel, you must make your reservation prior to October 8, 2014.
    </p>

    <p>Because Denver is such a walkable city, we do not recommend renting a car unless you plan to explore beyond downtown. Cab rides from DIA to downtown are a flat rate of $55. If you'd like to split a cab with other guests, please contact Leah.  At this time, Denver's public transit offers a <a href="http://www.rtd-denver.com/skyride.shtml">"Skyride"</a> to and from DIA to Market Street Station, which is four blocks from The Oxford Hotel. Skyride is $11 cash exact fare.</p>

    <img src="img/oxford_desk.jpg" width="960px" />
  </div>
</div>

<div id='wedding'>
  <div class='centered'>
    <a id='registry'></a>
  </div>
</div>

<div id='registry'>
  <div class='centered'>
    <h1>Helpful Links and Other Info</h1>
    <h2>Rehearsal Dinner</h2>
    <p>Please join us on Friday, November 7th 2014 at eight in the evening for cocktails and heavy Hors d'oeuvres at Skye 2905. Everyone is welcome.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3067.1265048200303!2d-104.999615!3d39.759268!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c78e869418ba3%3A0x7a2337c91469fe7!2sSkye+2905+Urban+Flats!5e0!3m2!1sen!2sus!4v1404788583354" width="300" height="225" frameborder="0" style="border:0; display: block; margin: 0 auto;"></iframe>
    <p>Click <a href="http://www.mydjmaestro.com/guest-requests/" target="_blank">here</a> to request a song to be played at the reception. Select "Leah and Ashton" from the pulldown, and enter 110814 as the password.</p>
    <p>We've set up a registry at <a href="http://www.simpleregistry.com/leahandashton" target="_blank">Simple Registry</a>.</p>
    </div>
  </div>
</div>
