---
title: Ashton and Leah
---

<div class="centered">
    <ul>
        <li>Ashton and Leah</li>
        <li>Venue</li>
        <li>Reservations</li>
        <li>Registry</li>
        <li>Contact Us</li>
    </ul>
</div>

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
