---
title: Ashton And Leah
---
<div id='banner'>
  <a id='top'></a>
  <div class='centered'>
    <h1>Ashton and Leah</h1>
    <h2>11.08.2014</h2>
  </div>
</div>

<div id='rockies'>
  <div class='centered'>
    <a id='us'></a>
  </div>
</div>

<div id='us'>
  <div class='centered'>
    <div class='ashton'>
      <img src="img/ashton.jpg" height="375" width="400" />
      <h1>Ashton</h1>
      <p>I'm Ashton</p>
    </div>

    <div class='leah'>
      <img src="img/leah.jpg" height="375" width="400" />
      <h1>Leah</h1>
      <p>I'm Leah</p>

    </div>
    <img src="img/ashton_and_leah.jpg" width="960" />

    <h1 id='plus'>+</h1>
  </div>
</div>

<div id='oxford'>
  <div class='centered'>
    <a id='venue'>
  </div>
</div>

<div id='venue'>
  <div class='centered'>
    <h1>The Oxford Hotel</h1>
    <p>Located in the heart of Denver, the Oxford hotel has been open since 1891.</p>
    <p>More content here</p>

    <p>The Oxford Hotel is located at:
      <blockquote>1600 17th St<br/>Denver, CO 80202</blockquote>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3067.4421746308467!2d-104.99913615!3d39.75217955!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44ceacc99b8363e6!2sThe+Oxford+Hotel!5e0!3m2!1sen!2sus!4v1389682116433" width="960" height="400" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<div id='hotel'>
  <div class='centered'>
    <a id='reservations'></a>
  </div>
</div>

<div id='reservations'>
  <div class='centered'>
    <h1>The Oxford Hotel</h1>
    <p>The Oxford Hotel has beautiful Victorian rooms available for our wedding guests located just above the ballroom</p>
    <p>More content</p>
    <p>Needs an image</p>
  </div>
</div>

<div id='wedding'>
  <div class='centered'>
    <a id='registry'></a>
  </div>
</div>

<div id='registry'>
  <div class='centered'>
    <h1>Registry</h1>
      <p>Listed here are all the registries for Leah and Ashton.</p>
      <ul>
        <li><%= link_to 'Registry', 'http://www.simpleregistry.com/leahandashton', target: '_blank'%></li>
      </ul>
    </div>
  </div>
</div>
